@value gray from '../../common.module.scss';

.contacts {
  width: 90%;
}

.form {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 10%;
  margin-top: 20.25rem;
  @media (max-width: 1199px) {
    margin-top: 0;
    margin-right: 0;
  }
}

.formHeader {
  width: 100%;
  max-width: 100%;
  height: 4.625rem;
  @media (max-width: 1199px) {
    width: 100%;
    max-width: 100%;
  }
}

.title {
  font-family: 'Sintony', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 0.95;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.contactsContainer {
  position: relative;
  z-index: 1;
  max-width: 82.5rem;
  width: 100vw;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  @media (max-width: 1199px) {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
}

.backgroundSquare {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 46.625rem;
  background-image: linear-gradient(to bottom, #bd2e2b, #d0021b);
  border-radius: 2px;
  @media (max-width: 1199px) {
    height: 31.375rem;
    width: 62.5%;
  }
}

.backgroundSquare::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  background-repeat: repeat-y;
  background-image: url('../../../assets/texture-left.png');
  transform: rotate(-180deg);
}

.square {
  position: absolute;
  width: 27rem;
  height: 18.5rem;
  background-color: white;
  top: 8.125rem;
  left: -32px;
  border-radius: 2px;
  box-shadow: 10px 20px 40px 0 rgba(20, 33, 57, 0.15);
  @media (max-width: 1199px) {
    top: 5.875rem;
    left: -18px;
    width: 20.4375rem;
    height: 16.5rem;
  }
}

.contactsPhoto {
  position: relative;
  z-index: 1;
  max-width: 23rem;
  max-height: 14.5625rem;
  width: auto;
  height: auto;
  box-shadow: 2px 2px 5px 0 rgba(20, 33, 57, 0.1);
  border-radius: 2px;
  @media (max-width: 1199px) {
    max-width: 18.1875rem;
    max-height: 11.5rem;
  }
}

.contactInfo {
  position: relative;
  z-index: 1;
}

.infoPhoneRow {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-family: 'Sintony', sans-serif;
  font-size: 1.125rem;
  opacity: 0.6;
  line-height: 1.56;
  letter-spacing: 0.1px;
  padding-top: 0.375rem;
}

.info {
  position: relative;
  max-width: 23rem;
  width: 23rem;
  top: 18.375rem;
  height: 29.375rem;
  @media (max-width: 1199px) {
    top: 10.4375rem;
    max-width: 18.1875rem;
    width: 18.1875rem;
    margin-left: 0;
    margin: 0 auto;
  }
  @media (min-width: 900px) and (max-width: 1199px) {
    margin-left: 52%;
  }
  @media (min-width: 2000px) {
    left: -12%;
  }
}

.textLabel {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.text {
  font-family: 'Sintony', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: rgba(20, 33, 57, 0.8);
  @media (max-width: 1199px) {
    margin: 0 auto;
  }
}

.mapLink {
  font-family: 'Sintony', sans-serif;
  font-size: 0.8rem;
  text-decoration: underline;
  color: rgba(20, 33, 57, 0.4);
  opacity: 0.6;
  margin-left: 0.5rem;
  cursor: pointer;
}

.mapLink a {
  color: rgba(20, 33, 57, 0.4);
}

.addressWrapper {
  text-align: center;
}

.address {
  padding-top: 2rem;
  margin-right: 3.4rem;
  margin-left: 2.5rem;
  @media (max-width: 1199px) {
    margin-right: 0rem;
    margin-left: 0rem;
    text-align: center;
    margin: 0 auto;
  }
}

.phoneFax {
  padding-top: 1rem;
  margin-left: 2.5rem;
  @media (max-width: 1199px) {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    margin-left: 0;
  }
}

.fax {
  margin-left: 3rem;
  @media (max-width: 1199px) {
    margin-left: 0rem;
  }
}
