.footer {
  position: relative;
  z-index: 1;
  background-color: #fbfbfc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  line-height: 1.56;
  letter-spacing: 0.1px;
  font-family: 'Sintony', sans-serif;
}
